html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  outline: none;
  box-sizing: border-box;
}
html {
  font-family: 'Helvetica Neue', Avenir, Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
  color: #222;
  font-size: 1em;
  letter-spacing: 0.05em;
  font-weight: normal;
}
body {
  background: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3em;
  font-weight: lighter;
  font-style: normal;
}
ul li {
  list-style-type: none;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
caption,
th,
td.gutter {
  display: none;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
a,
a:visited,
a:focus,
a:active {
  color: #e00;
  text-decoration: none;
}
a:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #f50;
}
img {
  max-width: 100%;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clear {
  overflow: auto;
  zoom: 1;
}
.padding {
  padding: 1em;
}
.field {
  margin-bottom: 1em;
}
.gray {
  color: #9e9e9e;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.transition {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.btn {
  background: #222;
  color: #eee !important;
  letter-spacing: 0.1em;
  line-height: 1em;
  padding: 1em 1.5em;
  display: inline-block;
}
.btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
}
.btn-light {
  background: #f0f0f0;
  color: #222 !important;
  letter-spacing: 0.1em;
  line-height: 1em;
  padding: 1em 1.5em;
  display: inline-block;
}
.btn-light:hover {
  color: #000;
  background: #fff;
}
/* index page */
.home > article {
  margin-bottom: 2em;
}
.home > article .title {
  text-align: center;
  margin-bottom: .5em;
}
.home > article .desc {
  margin-bottom: 1em;
  color: #aaa;
  text-align: center;
  font-size: .9em;
}
.home .screen {
  margin-bottom: 0;
  padding: 0 1em;
  position: relative;
  height: 38em;
  font-weight: lighter;
  background: #fafafa;
  text-align: center;
  color: #000;
}
.home .screen .content {
  padding-top: 9em;
}
.home .screen .content .logo,
.home .screen .content .slogan,
.home .screen .content .desc {
  color: #000;
  margin-bottom: 1em;
}
.home .screen .content .slogan {
  font-weight: 200;
  font-size: 2em;
}
.home .open-source {
  overflow: auto;
  zoom: 1;
  padding: 3em;
}
.home .open-source .project-item {
  font-size: .98em;
  color: #333;
  position: relative;
  background: #fafafa;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 3em 5em 2em;
  margin: auto;
  margin-top: 8em;
}
.home .open-source .project-item .logo {
  position: absolute;
  top: -6em;
}
.home .open-source .project-item .title a {
  font-weight: 200;
}
.home .open-source .project-item .content {
  padding: 0 5em 3em;
}
.home .open-source .project-item .content ul {
  padding-top: .5em;
  padding-left: 1em;
}
.home .open-source .project-item .content ul li {
  list-style-type: circle;
}
@media screen and (max-width: 960px) {
  .home .screen {
    margin-bottom: 0;
    padding: 0 1em;
    position: relative;
    height: 30em;
  }
  .home .screen .content {
    padding-top: 5em;
  }
  .home .screen .content .slogan {
    font-size: 1.5em;
  }
  .home .open-source {
    padding: 1em 0;
  }
  .home .open-source .project-item {
    font-size: .9em;
    margin-top: 3em;
    width: 100%;
    padding: 2em 0 1em;
  }
  .home .open-source .project-item .logo {
    top: -4em;
  }
  .home .open-source .project-item .logo img {
    width: 6em;
  }
  .home .open-source .project-item .content {
    padding: 0 2em 1em;
  }
}
body {
  font-weight: normal;
  font-size: 1em;
}
