html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
*{
  outline: none;
}

html {
  font-family: 'Avenir Next', 'Helvetica Neue', Avenir, Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
  color: #444;
  font-size: 0.9em;
  font-weight: normal;
}

h1,h2,h3,h4,h5 {
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}

ul li{
  list-style-type: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

ol,ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

caption, th, td.gutter{
  display: none;
}

q,blockquote {
  quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display: block
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display: block
}


a {
  color: #606CC3;
  text-decoration: none;
}

a:visited {
  color: #606CC3;
}

a:focus {
  color: #606CC3;
}

a:hover {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  color: #222;
}

a:active {
  color: #1655a8
}

a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s
}
img {
  max-width: 100%;
}

img.avatar {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  border: 2px solid #eee;
}

img.avatar:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 0 0.8em rgba(0,0,0,0.3);
}

.gray-font {
  color: #777;
}


footer {
  background-color: #444;
  color: #fff;
  padding: 1em 0;
  font-weight: lighter;
}

footer a, footer a:visited {
  color: #ccc;
}

footer ul li {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.5em;
}

footer a:hover {
  color: #eee;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}


.verse {
  font-family: Monaco,'Courier New','Courier',monospace !important;
  letter-spacing: 0;
  line-height: 2em;
  padding-top: 10em;
  clear: both;
  min-height: 30em;
}

.site-badge {
  cursor: pointer;
  position: fixed;
  right: 1.5em;
  width: 1.2em;
  bottom: 1em;
}


.scroll-down {
  font-size: 2em;
  color: #eee;
}
.scroll-down i {
  cursor: pointer;
  position: absolute;
  bottom: 1em;
}

@keyframes arrowBlink {
  0% { color: #999 }
  50% { color: #eee; box-shadow: 0 0 1px rgba(0,0,0,0.1)}
  100% { color: #999  }
}

@-webkit-keyframes arrowBlink {
  0% { color: #999 }
  50% { color: #eee}
  100% { color: #999  }
}

.blink {
  -webkit-animation: arrowBlink 4s infinite linear;
  animation: arrowBlink 4s infinite linear;
}

.field {
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

.block-padding {
  padding: 2em;
}

.sharp {
  background-color: #4a3b7c;
  position: relative;
  left: -5em;
  top: -5em;
  right: -5em;
  height: 50em;
  width: 200%;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.what-we-do {
  padding-top: 8em;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.contact-us ul li {
  display: inline-block;
  width: 30%;
}

.main {
  background-color: #444;
  color: #fff;
  position: relative;
  height: 40em;
  padding-top:12em;
}


.main .title {
  font-size: 3em;
  font-weight: lighter;
  margin: 1em 0;
}

.main .scroll-arrow {
  bottom: 0.5em;
  position: absolute;
  left: 48%;
  font-size: 4em;
}

.nav-bar {
  height: 2em;
  background-color: rgba(200,200,200,0.2);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5em 0;
  text-align: right;
}

.nav-bar li {
  display: inline-block;
  padding: 0.3em 3em;
  margin: 0 1em;
}

.nav-bar li a{
  color: #444;
}
.nav-bar li a:hover{
  color: #222;
}

.project-cell {
  margin: 1em;
  float: left;
}

.project-cell h3 {
  text-align: center;
  margin-bottom: 1em;
}
.project-cell li {
  margin-top: 0.5em;
}

#team_member {
  padding-top: 1em;
  background-color: #f5f5f5;
}

.member-cell {
  padding: 1em 0;
}

.member-cell .figure {
  position: relative;
}

.special-cell {
  margin: 1em 0;
}

.special-cell i {
  color: #ccc;
}

.member-cell {
  width: 33%;
  display: inline-block;
  float: left;
  margin-bottom: 3em;
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 960px) {
  .project-cell {
    width: 45%;
    display: inline-block;
  }


  .special-cell {
    width: 30%;
    display: inline-block;
    float: left;
    margin: 2% 1%;
  }

  .braced {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #666;
  }

  .braced:before, .braced:after {
    top: 0.5em;
    position: absolute;
    width: 40%;
    border-bottom: 1px solid #eee;
    content: "";
  }
  .braced:before {
    left: 0;
  }

  .braced:after {
    content: "";
    right: 0;
  }
  .contact-us, .reference {
    width: 20%;
    display: inline-block;
    float: left;
    padding: 1em;
  }

  .contact-us {
    width: 70%;
  }

  .contact-us i {
    font-size: 4em;
  }

}


@media screen and (min-width: 960px) and (max-width: 1159px){
  .verse {
    padding-top: 10em;
  }

}

@media screen and (min-width: 640px) and (max-width: 959px){

  .special-cell {
    display: inline-block;
    width: 45%;
    margin: 1em 0.3em;
  }

  .verse {
    padding-top: 8em;
  }


  .first-screen {
    height: 46em;
  }

  .sharp {
    height: 45em;
  }

  .what-we-do {
    padding-top: 5em;
  }
}


@media screen and (max-width: 639px) {

  .main {
    padding-top: 5em;
    height: 30em;
  }

  .member-cell img {
    width: 5em;
    height: 5em
  }

  .verse {
    padding-top: 5em;
  }

  .first-screen {
    height: 41em;
  }

  .sharp {
    height: 40em;
  }

  .what-we-do {
    padding-top: 3em;
  }

  .contact-us i {
    font-size: 1em;
  }

	.contact-us ul li {
  	display: list-item;
  	width: 100%;
		padding:0.5em 0;
	}
}
