@import url('reset.less');
@import url('meta.less');
@import url('mixin.less');
@import url('btn.less');

body {
    font-weight: normal;
    font-size: 1em;
}

.screen {
    position: relative;
    height: 40em;
    background: #000;
    background: url('../img/desktop.png') no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    .content {
        padding-top: 9em;
        div {
            margin-bottom: 1em;
        }
        .slogan {
            font-size: 2em;
        }
    }
}