@import url('reset.less');
@import url('meta.less');
@import url('mixin.less');
@import url('btn.less');
@import url('index.less');
@import url('turbo.less');

body {
    font-weight: normal;
    font-size: 1em;
}

footer {
    height: 2em;
    font-size: .8em;
    text-align: center;
}