.btn {
    background: #fff;
    border: 1px solid #222;
    color: #222 !important;
    letter-spacing: 0.1em;
    line-height: 1em;
    font-weight: 200;
    padding: .5em 1em;
    display: inline-block;
    &:hover {
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        background: #f55;
        color: #fff !important;
        border-color: #f55;
    }
}

.btn-chief {
    .btn;
    padding: 1em 3em;
    font-style: italic;
}
