.btn {
    background: #222;
    color: #eee !important;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 1em 1.5em;
    display: inline-block;
    &:hover {
        color: #fff;
        background: rgba(0,0,0,0.9);
    }
}

.btn-light {
    background: #f0f0f0;
    color: #222 !important;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 1em 1.5em;
    display: inline-block;
    &:hover {
        color: #000;
        background: #fff;
    }
}