
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clear {
    overflow: auto;
    zoom: 1;
}

.padding {
    padding: 1em;
}

.field {
    margin-bottom: 1em;
}

.gray {
    color: #9e9e9e;
}


.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.transition {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
