body.product {
    .main-intro {
        ._global_hint;
    }
    .main-list {
        .clear;
        padding-top: 2em;
        .item {
            ._item_transition;
            background-color: @_background;
            border: 1px solid @_border_light;
            height: 15em;
            /*padding: 4em;*/
            /*.logo {
                float: left;
                width: 37em;
                img {
                    background: @_border_light;
                }
            }*/

            .content {
                .clear;
                padding-left: 2em;
                text-align: initial;
            }
            .title {
                font-weight: 200;
                font-size: 5em;
            }
        }
    }
}