body.product {
    .main-intro {
        ._global_hint;
    }
    .main-list {
        padding-top: 2em;
        .item {
            ._card;
            ._item_transition;
            background-color: @_background;
            border: 1px solid @_border_light;
            height: 15em;
            margin-bottom: 3em;

            .content {
                .clear;
                padding-left: 2em;
                text-align: initial;
            }
            .title {
                font-weight: 200;
                font-size: 5em;
            }
        }
    }
}