body.project {
    .main-intro {
        ._global_hint;
    }

    .main-list {
        >.item {
            ._card;
            height: 15em;
            border: 1px solid @_border_light;
            margin-bottom: 3em;
            position: relative;
            background: @_background;
            border-left: 1px solid @_border_light;

            .info {
                width: 18em;
                overflow: hidden;

                .title {
                    font-weight: 200;
                    font-size: 2rem;
                }
            }
            .content {
                .clear;
                text-align: initial;
                font-size: .95em;
                padding: 0 1em;
            }
        }
    }
}