<article class="main center">
    <div class="container">
        <div class="site-logo field">
            <a href="http://wecatch.me">
                <img src="img/flash.png" class="site-icon">
            </a>
        </div>
        <div class="title">
            We create better Web products
        </div>
        <div class="description">
            wecatch，独立自由的组织，致力于构建更好的Web产品, 并为开发者和团队提供更敏捷，稳定，灵活的Web解决方案以及专业的咨询服务
        </div>
        <div class="blink scroll-arrow">
            <img src="img/arrow.png" style="width: 6em;">
            </h1>
        </div>
</article>
<article id="special" class="field wrapper">
    <div class="container">
        <h2 class="field center">
            wecatch 提供
        </h2>
        <section class="special-cell center">
            <img class="special-icon" src="img/base.png">
            <h4 class="field">
                解决方案
            </h4>
            <p>
                为Web开发提供快速、灵活、完整的解决方案
            </p>
            <!-- <p>扩展性强，便于支撑复杂业务场景。</p> -->
        </section>
        <section class="special-cell center">
            <img class="special-icon" src="img/read.png">
            <h4 class="field">
                技术分享
            </h4>
            <p>
                提供各种技术的最佳实践和分享
            </p>
        </section>
        <section class="special-cell center">
            <img class="special-icon" src="img/wrench.png">
            <h4 class="field">
                技术咨询
            </h4>
            <p>
                在团队擅长的领域内提供技术咨询和支持。
            </p>
        </section>
        <div class="clear">
        </div>
    </div>
</article>

<article id="project" class="wrapper">
    <div class="container block-padding">
        <h2 class="field center">
            开源项目
        </h2>
        <section class="project-cell">
            <h3 class="center field">
                <a href="http://github.com/wecatch/app-turbo" target="_blank">
                    App turbo
                </a>
            </h3>
            <div class="content">
                <div class="icon center">
                    <img src="img/security.png">
                </div>
                <div class="brief">
                    <p>
                        app-turbo 是一个用以加速建立普通web站点和Rest api
                        <br>
                        的后端决方案，包含:
                    </p>
                    <ul>
                        <li>
                            简易的orm封装(基于mongodb)
                        </li>
                        <li>
                            异步任务队列
                        </li>
                        <li>
                            Restful Api 服务
                        </li>
                        <li>
                            session管理，日志服务
                        </li>
                        <li>
                            缓存(基于redis，memcached等内存数据库)
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
            </div>
        </section>
    </div>
</article>
<footer>
    <div class="container center">
        ©2014
        <a href="about.html">
            关于wecatch
        </a>
    </div>
</footer>