.turbo {
    nav.main {
        height: 5em;
        line-height: 5em;
        border-bottom: 1px solid #f5f5f5;
        .container {
            width: 70%;
            margin: 0 auto;
            #site_name {
                font-size: 1.5em;
                color: #222;
                font-style: italic;
                position: relative;
                padding-left: .5em;
                &:before {
                    .reverse-blink;
                    position: absolute;
                    right: -12px;
                    bottom: 3px;
                    content: "";
                    border: 2px solid #222;
                    border-width: 2px;
                }
                &:after {
                    .blink;
                    position: absolute;
                    right: -5px;
                    bottom: 3px;
                    content: "";
                    border: 2px solid #222;
                    border-width: 2px;
                }
            }
            .site-logo {
                float: right;
                line-height: 5.5em;
                height: 5em;
            }
        }
    }

    main>article>section {
        width: 70%;
        margin: 0 auto;
        padding: 3em 0;
        h3.title {
            margin-bottom: .5em;
        }

        >section {
            margin-bottom: 1em;
        }
    }

    .summary {
        background: #fafafa;
        padding-bottom: 2em;
        .brief {
            padding-bottom: 1em;
            .clear;
            figure {
                float: left;
                width: 30%;
            }
            .content {
                .clear;
                padding: 1em;
                .intro {
                    margin-bottom: .5em;
                }
                ul {
                    margin-left: 1em;
                    li {
                        list-style-type: disc;
                    }
                }
            }
        }
        .download {
            background: #fff;
        }

    }
    
    .download {
        text-align: center;
        margin: 0 auto 3em;
        background: #fafafa;
        padding: 3em 0 4em;
        .desc {
            margin-bottom: 1.5em;
            font-size: .9em;
            color: #999;
        }
    }

    .how-to-use {
        font-size: .9em;
        section {
            .title {
                color: #f55;
                margin: 1em 0;
            }
        }

        .download {
            margin-top: 1em;
        }
    }

    .who-use {
        .title span {
            color: #f55;
            font-weight: 200;
        }

        .friends {
            margin-top: 2em;
        }

        .friends-item {
            font-size: .9em;
            text-align: center;
            width: 10em;
            display: inline-block;
            -webkit-filter: grayscale(100%);
            &:hover {
                -webkit-filter: grayscale(0%);
            }
            figure {
                img {
                    width: 6em;
                    margin-bottom: .5em;
                }
            }
        }
    }
}